body{
    margin:0;
}
.navbar{
	background-color:#003145;
	font-size:20px;
	height:100px;
	border-bottom:2px solid white;
}
.nav-link {
	color:white;
	margin:15px;
}
h1{
	color:#d8db38;
	margin:10px;
}
.spacer{
    margin-top:100px;
}
.section-one{
    text-align:center;
}
.section-one > span {
    display:inline-block;
    width:100%;
    font-size:40px;
    background-color:rgba(0, 50, 69, 0.5);
}
.sports-background{
    border-top:2px solid #003145;
    border-bottom:2px solid #003145;
}
.new-suzuki-tiles{
    display:flex;
    text-align: center;
}
.new-suzuki-tiles{
    display:flex;
    text-align: center;
    list-style-type: none;
}
.new-suzuki-tiles li span{
    font-size:25px;

}